<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../../content/styles/style.css" rel="stylesheet">

        <script src="../../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid">
                <div class="flex-box flex-spc-btw hd-wrap">
                    <div class="lt"><img src="../../../content/images/common/header-ci.png" alt="기업 로고" class="hd-ci"></div> <!-- //기업 로고 -->
                    <div class="rt">
                        <div class="hd-user">
                            <span class="photo"></span>
                            <span class="name">홍길동님(슈퍼관리자)</span>
                        </div>
                        <div class="hd-btn">
                            <a href="javascript:void(0);" title="비밀번호 변경" class="btn pw">비밀번호 변경</a>
                            <a href="javascript:void(0);" title="로그아웃" class="btn"><img src="../../../content/images/common/header-logout.png" alt="로그아웃 아이콘" class="logout-ico"></a>
                        </div>
                    </div> <!-- //관리자 정보, 비밀번호 변경, 로그아웃 -->
                </div>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- wrapper START -->
        <div id="wrapper">
            <!-- left sidebar nav START -->
            <aside class="left-sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-01.png" alt="대시보드 메뉴 아이콘" class="ico">대시보드</span></a>
                        </li> <!-- //대시보드 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-02.png" alt="사이트관리 메뉴 아이콘" class="ico">사이트관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="스타일 관리 페이지로 이동" class="subnav-menu"><span class="label">스타일 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="기본 관리 페이지로 이동" class="subnav-menu"><span class="label">기본 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="직무 관리 페이지로 이동" class="subnav-menu"><span class="label">직무 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="팝업 관리 페이지로 이동" class="subnav-menu"><span class="label">팝업 관리</span></a>
                                </li>
                            </ul>
                        </li> <!-- //사이트관리 -->
                        <li>
                            <div class="blue nav-menu on"><span class="label"><img src="../../../content/images/common/nav-ico-03.png" alt="채용 공고 메뉴 아이콘" class="ico">채용 공고</span></div>
                            <ul class="subnav-list" style="display: block;">
                                <li>
                                    <a href="javascript:void(0);" title="지원폼 등록 페이지로 이동" class="subnav-menu"><span class="label">지원폼 등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공고 등록 페이지로 이동" class="subnav-menu on"><span class="label">공고 등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공고 리스트 페이지로 이동" class="subnav-menu"><span class="label">공고 리스트</span></a>
                                </li>
                            </ul>
                        </li> <!-- //채용 공고 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-04.png" alt="서류접수현황 메뉴 아이콘" class="ico">서류접수현황</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="공고별 접수현황 페이지로 이동" class="subnav-menu"><span class="label">공고별 접수현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //서류접수현황 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-05.png" alt="전형-서류심사 메뉴 아이콘" class="ico">전형-서류심사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="심사세팅 페이지로 이동" class="subnav-menu"><span class="label">심사세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="서류심사 현황 페이지로 이동" class="subnav-menu"><span class="label">서류심사 현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="서류합격자 페이지로 이동" class="subnav-menu"><span class="label">서류합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-서류심사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-06.png" alt="전형-인적성검사 메뉴 아이콘" class="ico">전형-인적성검사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="인적성등록 페이지로 이동" class="subnav-menu"><span class="label">인적성등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="인적성 합격자 페이지로 이동" class="subnav-menu"><span class="label">인적성 합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-인적성검사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-07.png" alt="전형-면접심사 메뉴 아이콘" class="ico">전형-면접심사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="심사세팅 페이지로 이동" class="subnav-menu"><span class="label">심사세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="면접심사 현황 페이지로 이동" class="subnav-menu"><span class="label">면접심사 현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="면접합격자 페이지로 이동" class="subnav-menu"><span class="label">면접합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-면접심사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-08.png" alt="전형-추가자료제출 메뉴 아이콘" class="ico">전형-추가자료제출</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="추가자료세팅 페이지로 이동" class="subnav-menu"><span class="label">추가자료세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="추가자료 등록현황 페이지로 이동" class="subnav-menu"><span class="label">추가자료 등록현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-추가자료제출 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-09.png" alt="전형-최종합격 메뉴 아이콘" class="ico">전형-최종합격</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="최종합격자세팅 페이지로 이동" class="subnav-menu"><span class="label">최종합격자세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="최종합격자 페이지로 이동" class="subnav-menu"><span class="label">최종합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="입사취소자 페이지로 이동" class="subnav-menu"><span class="label">입사취소자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-최종합격 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-10.png" alt="게시판관리 메뉴 아이콘" class="ico">게시판관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="공지사항(사용자) 페이지로 이동" class="subnav-menu"><span class="label">공지사항(사용자)</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공지사항(심사자) 페이지로 이동" class="subnav-menu"><span class="label">공지사항(심사자)</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="FAQ 페이지로 이동" class="subnav-menu"><span class="label">FAQ</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="1:1문의 페이지로 이동" class="subnav-menu"><span class="label">1:1문의</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="채용서류반환 페이지로 이동" class="subnav-menu"><span class="label">채용서류반환</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="선배 인터뷰 페이지로 이동" class="subnav-menu"><span class="label">선배 인터뷰</span></a>
                                </li>
                            </ul>
                        </li> <!-- //게시판관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-11.png" alt="회원관리 메뉴 아이콘" class="ico">회원관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="관리자 관리 페이지로 이동" class="subnav-menu"><span class="label">관리자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="심사자 관리 페이지로 이동" class="subnav-menu"><span class="label">심사자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="전체지원자 관리 페이지로 이동" class="subnav-menu"><span class="label">전체지원자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="상시지원자 관리 페이지로 이동" class="subnav-menu"><span class="label">상시지원자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="채용부적격자 관리 페이지로 이동" class="subnav-menu"><span class="label">채용부적격자</span></a>
                                </li>
                            </ul>
                        </li> <!-- //회원관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-12.png" alt="기초자료관리 메뉴 아이콘" class="ico">기초자료관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="학교목록 페이지로 이동" class="subnav-menu"><span class="label">학교목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="학과목록 페이지로 이동" class="subnav-menu"><span class="label">학과목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="자격증목록 페이지로 이동" class="subnav-menu"><span class="label">자격증목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="어학/언어목록 페이지로 이동" class="subnav-menu"><span class="label">어학/언어목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="검열단어목록 페이지로 이동" class="subnav-menu"><span class="label">검열단어목록</span></a>
                                </li>
                            </ul>
                        </li> <!-- //기초자료관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-13.png" alt="통계 메뉴 아이콘" class="ico">통계</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="지원통계 페이지로 이동" class="subnav-menu"><span class="label">지원통계</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="사이트통계 페이지로 이동" class="subnav-menu"><span class="label">사이트통계</span></a>
                                </li>
                            </ul>
                        </li> <!-- //통계 -->
                    </ul>
                </nav>
            </aside>
            <!-- //left sidebar nav END -->
            <!-- right page area START -->
            <section class="page-area">
                <div class="page-wrap">
                    <div class="grid">
                        <div class="flex-box flex-spc-btw flex-align-cnt pagetit-box">
                            <h4 class="pagetit">
                                <span class="label">
                                    <span class="ico"><img src="../../../content/images/sub/recruitNotice/pagetit-ico.png" alt="공고 등록 아이콘"></span>공고 등록
                                </span>
                            </h4>
                        </div>
                        <div class="mt0 card-wrap">
                            <div class="card">
                                <ul class="flex-box comn-tab-box col4">
                                    <li><span class="comn-tab on"><small class="pr10 fs14 efw500 label">Step 01</small>기본설정</span></li>
                                    <li><span class="comn-tab"><small class="pr10 fs14 efw500 label">Step 02</small>지원폼 매칭</span></li>
                                    <li><span class="comn-tab"><small class="pr10 fs14 efw500 label">Step 03</small>공고 내용 세팅</span></li>
                                    <li><span class="comn-tab"><small class="pr10 fs14 efw500 label">Step 04</small>등록 완료</span></li>
                                </ul> <!-- //탭 메뉴 박스 -->
                                <fieldset>
                                    <div class="form-wrap">
                                        <div class="form-row">
                                            <span class="form-label">공고명</span>
                                            <div class="form-field">
                                                <input type="text" class="form-input lg">
                                            </div>
                                        </div> <!-- //공고명 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">공고별칭</span>
                                            <div class="form-field">
                                                <input type="text" class="form-input">
                                                <p class="txt-indent form-tip"><span class="mark">※</span>최대 10자 이내 / 대시보드, 통계 등에 노출됩니다.</p>
                                            </div>
                                        </div> <!-- //공고별칭 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">채용 분류</span>
                                            <div class="form-field">
                                                <label class="form-radio">
                                                    <input type="radio" name="recruitFeild" id="intern" checked><span class="label">인턴</span>
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="recruitFeild" id="newComer"><span class="label">신입</span>
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="recruitFeild" id="careerComer"><span class="label">경력</span>
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="recruitFeild" id="etcComer"><span class="label">기타</span>
                                                </label>
                                                <label class="form-radio">
                                                    <input type="radio" name="recruitFeild" id="anybody"><span class="label">무관</span>
                                                </label>
                                                <p class="txt-indent form-tip"><span class="mark">※</span>기타 : 계약직, 단기 근무, 아르바이트를 모집할 때 사용합니다.</p>
                                            </div>
                                        </div> <!-- //채용 분류 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">직무(지원분야)</span>
                                            <div class="form-field">
                                                <select class="form-select">
                                                    <option>1차  항목</option>
                                                </select>
                                                <select class="form-select">
                                                    <option>2차  항목</option>
                                                </select>
                                                <button class="dull-blue btn sm sm-h solidbtn">인증</button>
                                                <table class="mt20 form-tbl">
                                                    <colgroup>
                                                        <col class="w3">
                                                        <col class="w3">
                                                        <col class="w3">
                                                    </colgroup>
                                                    <tr>
                                                        <th>1차 직무명</th>
                                                        <th>2차 직무명</th>
                                                        <th>삭제</th>
                                                    </tr>
                                                    <tr>
                                                        <td>부동산 / ICT</td>
                                                        <td>KT</td>
                                                        <td><span class="btn form-delbtn"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>부동산 / ICT</td>
                                                        <td>KT estate</td>
                                                        <td><span class="btn form-delbtn"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>미디어</td>
                                                        <td>KT skylife</td>
                                                        <td><span class="btn form-delbtn"></span></td>
                                                    </tr>
                                                </table>
                                                <p class="txt-indent form-tip"><span class="mark">※</span>해당 공고에서 모집할 직무를 세팅하세요.</p>
                                            </div>
                                        </div> <!-- //직무(지원분야) -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">희망 근무 지역</span>
                                            <div class="form-field">
                                                <input type="text" class="form-input">
                                                <button class="dull-blue btn sm sm-h solidbtn">등록</button>
                                                <table class="mt20 form-tbl col2">
                                                    <colgroup>
                                                        <col class="w2">
                                                        <col class="w2">
                                                    </colgroup>
                                                    <tr>
                                                        <th>지역</th>
                                                        <th>삭제</th>
                                                    </tr>
                                                    <tr>
                                                        <td>서울(본사)</td>
                                                        <td><span class="btn form-delbtn"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>부산(지사)</td>
                                                        <td><span class="btn form-delbtn"></span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div> <!-- //희망 근무 지역 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">서류 접수일 설정</span>
                                            <div class="form-field">
                                                <div class="form-el col">
                                                    <input type="text" class="form-input sm"><input type="text" class="form-input sm">
                                                </div>
                                                <div class="form-el col"><span class="form-el-txt">~</span></div>
                                                <div class="form-el col">
                                                    <input type="text" class="form-input sm"><input type="text" class="form-input sm">
                                                </div>
                                                <div class="form-el col">
                                                    <div class="sort-form sort-radio">
                                                        <label><input type="radio" name="" id="" checked=""><span class="label">정시마감</span></label>
                                                        <label><input type="radio" name="" id=""><span class="label">5분 후 마감</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- //서류 접수일 설정 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">알림 설정</span>
                                            <div class="form-field">
                                                <div class="form-row">
                                                    <span class="pl0 fc-dull-blue form-label">접수 알림 (관리자)</span>
                                                    <div class="form-field">
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet1" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet1" id="alarmEmail"><span class="label">이메일</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet2" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet2" id="alarmSMS"><span class="label">SMS</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet3" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet3" id="alarmKakao"><span class="label">카카오 알림톡</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-tip-box">
                                                        <span class="txt-indent form-tip"><span class="mark">※</span>지원서 최종 제출 시 담당자의 이메일로 자동 알림 메일이 발송됩니다.</span>
                                                        <span class="ml10 blue-grey btn xs xs-h solidbtn">샘플확인</span>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <span class="pl0 fc-dull-blue form-label">접수 알림 (사용자)</span>
                                                    <div class="form-field">
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet4" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet4" id="alarmEmail"><span class="label">이메일</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet5" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet5" id="alarmSMS"><span class="label">SMS</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-el row">
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet6" id="noAlarm" checked><span class="label">사용안함</span>
                                                            </label>
                                                            <label class="form-radio">
                                                                <input type="radio" name="alarmSet6" id="alarmKakao"><span class="label">카카오 알림톡</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-tip-box">
                                                        <span class="txt-indent form-tip"><span class="mark">※</span>지원서 최종 제출시 지원자의 이메일 및 핸드폰으로 자동 알림이 발송됩니다.</span>
                                                        <span class="ml10 blue-grey btn xs xs-h solidbtn">샘플확인</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- //알림 설정 -->
                                        <span class="card-hr"></span>
                                        <div class="form-row">
                                            <span class="form-label">문의 연락처</span>
                                            <div class="form-field">
                                                <div class="form-txt-box"><p>홍길동 매니저 (GENIE MUSIC 채용지원센터)<br>ussay@nhrcomm.com<br>02-458-1400</p></div>
                                                <p class="txt-indent form-tip"><span class="mark">※</span>해당 공고의 내용 및 지원자 알림 등에 자동 표기됩니다.</p>
                                            </div>
                                        </div> <!-- //문의 연락처 -->
                                    </div>
                                </fieldset> <!-- //폼 필드 -->
                                <div class="txt-cnt card-btn-box">
                                    <a href="javascript:void(0);" title="공고 등록 취소" class="grey btn md md-h solidbtn">취소</a>
                                    <a href="공고등록step2.html" title="저장 후 다음 단계로 이동" class="black btn md md-h solidbtn">저장 후 다음</a>
                                </div>
                            </div> <!-- //공고 등록폼 -->
                        </div> <!-- //card wrap : 공고 등록 -->
                    </div> <!-- //grid -->
                </div>
                <!-- footer START -->
                <footer>
                    <div class="grid">
                        <div class="flex-box flex-spc-btw ft-wrap">
                            <div class="lt">
                                <span class="copyright">COPYRIGHT©NHR COMMUNICATIONS. ALL RIGHTS RESERVED.</span>
                            </div>
                            <div class="rt">
                                <span class="ft-info">help-n@nhrcomm.com</span><span class="ft-info">02-735-1141</span>
                            </div>
                        </div>
                    </div> <!-- //grid -->
                </footer>
                <!-- //footer END -->
            </section>
            <!-- //right page area END -->
        </div>
        <!-- //wrapper END -->
    </body>
</html>