<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../../content/styles/style.css" rel="stylesheet">

        <script src="../../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid">
                <div class="flex-box flex-spc-btw hd-wrap">
                    <div class="lt"><img src="../../../content/images/common/header-ci.png" alt="기업 로고" class="hd-ci"></div> <!-- //기업 로고 -->
                    <div class="rt">
                        <div class="hd-user">
                            <span class="photo"></span>
                            <span class="name">홍길동님(슈퍼관리자)</span>
                        </div>
                        <div class="hd-btn">
                            <a href="javascript:void(0);" title="비밀번호 변경" class="btn pw">비밀번호 변경</a>
                            <a href="javascript:void(0);" title="로그아웃" class="btn"><img src="../../../content/images/common/header-logout.png" alt="로그아웃 아이콘" class="logout-ico"></a>
                        </div>
                    </div> <!-- //관리자 정보, 비밀번호 변경, 로그아웃 -->
                </div>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- wrapper START -->
        <div id="wrapper">
            <!-- left sidebar nav START -->
            <aside class="left-sidebar">
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-01.png" alt="대시보드 메뉴 아이콘" class="ico">대시보드</span></a>
                        </li> <!-- //대시보드 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-02.png" alt="사이트관리 메뉴 아이콘" class="ico">사이트관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="스타일 관리 페이지로 이동" class="subnav-menu"><span class="label">스타일 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="기본 관리 페이지로 이동" class="subnav-menu"><span class="label">기본 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="직무 관리 페이지로 이동" class="subnav-menu"><span class="label">직무 관리</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="팝업 관리 페이지로 이동" class="subnav-menu"><span class="label">팝업 관리</span></a>
                                </li>
                            </ul>
                        </li> <!-- //사이트관리 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-03.png" alt="채용 공고 메뉴 아이콘" class="ico">채용 공고</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="지원폼 등록 페이지로 이동" class="subnav-menu"><span class="label">지원폼 등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공고 등록 페이지로 이동" class="subnav-menu"><span class="label">공고 등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공고 리스트 페이지로 이동" class="subnav-menu"><span class="label">공고 리스트</span></a>
                                </li>
                            </ul>
                        </li> <!-- //채용 공고 -->
                        <li>
                            <div class="blue nav-menu on"><span class="label"><img src="../../../content/images/common/nav-ico-04.png" alt="서류접수현황 메뉴 아이콘" class="ico">서류접수현황</span></div>
                            <ul class="subnav-list" style="display: block;">
                                <li>
                                    <a href="javascript:void(0);" title="공고별 접수현황 페이지로 이동" class="subnav-menu on"><span class="label">공고별 접수현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //서류접수현황 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-05.png" alt="전형-서류심사 메뉴 아이콘" class="ico">전형-서류심사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="심사세팅 페이지로 이동" class="subnav-menu"><span class="label">심사세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="서류심사 현황 페이지로 이동" class="subnav-menu"><span class="label">서류심사 현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="서류합격자 페이지로 이동" class="subnav-menu"><span class="label">서류합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-서류심사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-06.png" alt="전형-인적성검사 메뉴 아이콘" class="ico">전형-인적성검사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="인적성등록 페이지로 이동" class="subnav-menu"><span class="label">인적성등록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="인적성 합격자 페이지로 이동" class="subnav-menu"><span class="label">인적성 합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-인적성검사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-07.png" alt="전형-면접심사 메뉴 아이콘" class="ico">전형-면접심사</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="심사세팅 페이지로 이동" class="subnav-menu"><span class="label">심사세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="면접심사 현황 페이지로 이동" class="subnav-menu"><span class="label">면접심사 현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="면접합격자 페이지로 이동" class="subnav-menu"><span class="label">면접합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-면접심사 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-08.png" alt="전형-추가자료제출 메뉴 아이콘" class="ico">전형-추가자료제출</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="추가자료세팅 페이지로 이동" class="subnav-menu"><span class="label">추가자료세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="추가자료 등록현황 페이지로 이동" class="subnav-menu"><span class="label">추가자료 등록현황</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-추가자료제출 -->
                        <li>
                            <div class="blue nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-09.png" alt="전형-최종합격 메뉴 아이콘" class="ico">전형-최종합격</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="최종합격자세팅 페이지로 이동" class="subnav-menu"><span class="label">최종합격자세팅</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="최종합격자 페이지로 이동" class="subnav-menu"><span class="label">최종합격자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="입사취소자 페이지로 이동" class="subnav-menu"><span class="label">입사취소자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="문자/메일 발송 페이지로 이동" class="subnav-menu"><span class="label">문자/메일 발송</span></a>
                                </li>
                            </ul>
                        </li> <!-- //전형-최종합격 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-10.png" alt="게시판관리 메뉴 아이콘" class="ico">게시판관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="공지사항(사용자) 페이지로 이동" class="subnav-menu"><span class="label">공지사항(사용자)</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="공지사항(심사자) 페이지로 이동" class="subnav-menu"><span class="label">공지사항(심사자)</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="FAQ 페이지로 이동" class="subnav-menu"><span class="label">FAQ</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="1:1문의 페이지로 이동" class="subnav-menu"><span class="label">1:1문의</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="채용서류반환 페이지로 이동" class="subnav-menu"><span class="label">채용서류반환</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="선배 인터뷰 페이지로 이동" class="subnav-menu"><span class="label">선배 인터뷰</span></a>
                                </li>
                            </ul>
                        </li> <!-- //게시판관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-11.png" alt="회원관리 메뉴 아이콘" class="ico">회원관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="관리자 관리 페이지로 이동" class="subnav-menu"><span class="label">관리자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="심사자 관리 페이지로 이동" class="subnav-menu"><span class="label">심사자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="전체지원자 관리 페이지로 이동" class="subnav-menu"><span class="label">전체지원자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="상시지원자 관리 페이지로 이동" class="subnav-menu"><span class="label">상시지원자</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="채용부적격자 관리 페이지로 이동" class="subnav-menu"><span class="label">채용부적격자</span></a>
                                </li>
                            </ul>
                        </li> <!-- //회원관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-12.png" alt="기초자료관리 메뉴 아이콘" class="ico">기초자료관리</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="학교목록 페이지로 이동" class="subnav-menu"><span class="label">학교목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="학과목록 페이지로 이동" class="subnav-menu"><span class="label">학과목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="자격증목록 페이지로 이동" class="subnav-menu"><span class="label">자격증목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="어학/언어목록 페이지로 이동" class="subnav-menu"><span class="label">어학/언어목록</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="검열단어목록 페이지로 이동" class="subnav-menu"><span class="label">검열단어목록</span></a>
                                </li>
                            </ul>
                        </li> <!-- //기초자료관리 -->
                        <li>
                            <div class="nav-menu"><span class="label"><img src="../../../content/images/common/nav-ico-13.png" alt="통계 메뉴 아이콘" class="ico">통계</span></div>
                            <ul class="subnav-list">
                                <li>
                                    <a href="javascript:void(0);" title="지원통계 페이지로 이동" class="subnav-menu"><span class="label">지원통계</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="사이트통계 페이지로 이동" class="subnav-menu"><span class="label">사이트통계</span></a>
                                </li>
                            </ul>
                        </li> <!-- //통계 -->
                    </ul>
                </nav>
            </aside>
            <!-- //left sidebar nav END -->
            <!-- right page area START -->
            <section class="page-area">
                <div class="page-wrap">
                    <div class="grid">
                        <div class="flex-box flex-spc-btw flex-align-cnt pagetit-box">
                            <h4 class="pagetit">
                                <span class="label">
                                    <span class="ico"><img src="../../../content/images/sub/receptStatus/pagetit-ico.png" alt="지원서 아이콘"></span>2020년 상반기 현대백화점그룹 대졸 신입사원 채용(홈쇼핑, 면세점) / 신입
                                </span>
                            </h4>
                        </div>
                        <div class="card-wrap">
                            <div class="p0 card">
                                <div class="flex-box flex-spc-btw flex-align-cnt resume-hd-wrap">
                                    <div class="lt">
                                        <div class="apply-info-box">
                                            <div class="blue photo"></div>
                                            <div class="top">
                                                <span class="efw500 doc-num">NO. 1-12345678</span>
                                                <strong class="name">홍*동</strong><span class="name-el">여</span><span class="name-el">23세</span>
                                            </div>
                                            <div class="btm">
                                                <p>영업관리(홈쇼핑) / <mark class="fc-white yellow">채용부적격자</mark> / 중복지원 1회</p>
                                                <p class="pt10 efw500">010-1234-5678 / NHR@naver.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rt">
                                        <ul class="flex-box flex-spc-btw apply-edu-box">
                                            <li>
                                                <span class="label">최종학교</span><strong>한국기술산업대</strong>
                                            </li>
                                            <li>
                                                <span class="label">최종학위</span><strong>석사</strong>
                                            </li>
                                            <li>
                                                <span class="label">재학상태</span><strong>재학중</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- //상단 지원자 개인정보 -->
                                <div class="resume-wrap">
                                    <div class="flex-box flex-spc-cnt resume-tab-box">
                                        <a href="지원자지원서.html" title="지원자 지원서 보기" class="resume-tab"><span class="label">지원서</span></a>
                                        <a href="지원자평가요약.html" title="지원자 평가요약 보기" class="resume-tab on"><span class="label">평가요약</span></a>
                                        <a href="지원자히스토리.html" title="지원자 히스토리 보기" class="resume-tab"><span class="label">히스토리</span></a>
                                    </div> <!-- //지원서, 평가요약,히스토리 탭 메뉴 박스-->
                                    <ul class="mt60 flex-box comn-tab-box anchor-tab-box col5">
                                        <li><span class="comn-tab on">서류평가</span></li>
                                        <li><span class="comn-tab">인적성평가</span></li>
                                        <li><span class="comn-tab">면접1 평가</span></li>
                                        <li><span class="comn-tab">면접2 평가</span></li>
                                        <li><span class="comn-tab">최종합격</span></li>
                                    </ul> <!-- //탭 메뉴 박스 -->
                                    <div class="cardtit-box anchortit-box" data-tit="0">
                                        <h5 class="cardtit"><img src="../../../content/images/sub/receptStatus/apply-evsum-ico-01.png" alt="서류평가 아이콘" class="ico">서류평가</h5>
                                    </div> <!-- //서류평가 제목 -->
                                    <div class="resume-tbl-box">
                                        <div class="flex-box flex-spc-cnt flex-align-cnt resume-tbl-tit">
                                            <span class="label">결과</span><strong class="result">합격 (평균 74.25점)</strong>
                                            <a href="javascript:void(0);" target="_blank" title="서류평가 페이지로 이동" class="fc-skyblue btn xs xs-h lg-brd linebtn">상세보기</a>
                                        </div>
                                        <div class="tbl-wrap">
                                            <table class="list-tbl resume-tbl">
                                                <colgroup>
                                                    <col class="w3">
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col class="w2">
                                                </colgroup>
                                                <tr>
                                                    <th>심사자</th>
                                                    <th>성실</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>총점</th>
                                                    <th>코멘트</th>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">홍길동</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-dull-blue lighten1 efw700">10</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김우리</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-dull-blue lighten1 efw700">10</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김삼성</td>
                                                    <td class="fc-grey lighten1 efw500">15</td>
                                                    <td class="fc-grey lighten1 efw500">15</td>
                                                    <td class="fc-grey lighten1 efw500">15</td>
                                                    <td class="fc-grey lighten1 efw500">15</td>
                                                    <td class="fc-grey lighten1 efw500">15</td>
                                                    <td class="fc-dull-blue lighten1 efw700">10</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김현대</td>
                                                    <td class="fc-grey lighten1 efw500">20</td>
                                                    <td class="fc-grey lighten1 efw500">20</td>
                                                    <td class="fc-grey lighten1 efw500">20</td>
                                                    <td class="fc-grey lighten1 efw500">20</td>
                                                    <td class="fc-grey lighten1 efw500">20</td>
                                                    <td class="fc-dull-blue lighten1 efw700">20</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div> <!-- //서류평가 내용 -->
                                    <div class="cardtit-box anchortit-box" data-tit="1">
                                        <h5 class="cardtit"><img src="../../../content/images/sub/receptStatus/apply-evsum-ico-02.png" alt="인적성 평가 아이콘" class="ico">인적성 평가</h5>
                                    </div> <!-- //인적성 평가 제목 -->
                                    <div class="resume-tbl-box">
                                        <div class="flex-box flex-spc-cnt flex-align-cnt resume-tbl-tit">
                                            <span class="label">결과</span><strong class="result">합격 (평균 74.25점)</strong>
                                            <a href="javascript:void(0);" target="_blank" title="서류평가 페이지로 이동" class="fc-skyblue btn xs xs-h lg-brd linebtn">상세보기</a>
                                        </div>
                                        <div class="tbl-wrap">
                                            <table class="list-tbl resume-tbl">
                                                <colgroup>
                                                    <col class="w3">
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col class="w2">
                                                </colgroup>
                                                <tr>
                                                    <th></th>
                                                    <th>성실</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>총점</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue"></td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-grey lighten1 efw500">10</td>
                                                    <td class="fc-dull-blue lighten1 efw700">78</td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div> <!-- //인적성 평가 내용 -->
                                    <div class="cardtit-box anchortit-box" data-tit="2">
                                        <h5 class="cardtit"><img src="../../../content/images/sub/receptStatus/apply-evsum-ico-03.png" alt="면접1 평가 아이콘" class="ico">면접1 평가</h5>
                                    </div> <!-- //면접1 평가 제목 -->
                                    <div class="resume-tbl-box">
                                        <div class="flex-box flex-spc-cnt flex-align-cnt resume-tbl-tit">
                                            <span class="label">결과</span><strong class="result">합격 (평균 74.25점)</strong>
                                            <a href="javascript:void(0);" target="_blank" title="서류평가 페이지로 이동" class="fc-skyblue btn xs xs-h lg-brd linebtn">상세보기</a>
                                        </div>
                                        <div class="tbl-wrap">
                                            <table class="list-tbl resume-tbl">
                                                <colgroup>
                                                    <col class="w3">
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col class="w2">
                                                </colgroup>
                                                <tr>
                                                    <th>심사자</th>
                                                    <th>성실</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>총점</th>
                                                    <th>코멘트</th>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">홍길동</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-dull-blue lighten1 efw700">A</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김우리</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-dull-blue lighten1 efw700">B</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김삼성</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-dull-blue lighten1 efw700">C</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김현대</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-dull-blue lighten1 efw700">C</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div> <!-- //면접1 평가 내용 -->
                                    <div class="cardtit-box anchortit-box" data-tit="3">
                                        <h5 class="cardtit"><img src="../../../content/images/sub/receptStatus/apply-evsum-ico-04.png" alt="면접2 평가 아이콘" class="ico">면접2 평가</h5>
                                    </div> <!-- //면접2 평가 제목 -->
                                    <div class="resume-tbl-box">
                                        <div class="flex-box flex-spc-cnt flex-align-cnt resume-tbl-tit">
                                            <span class="label">결과</span><strong class="fc-red darken1 result">불합격 (평균 74.25점)</strong>
                                            <a href="javascript:void(0);" target="_blank" title="서류평가 페이지로 이동" class="fc-skyblue btn xs xs-h lg-brd linebtn">상세보기</a>
                                        </div>
                                        <div class="tbl-wrap">
                                            <table class="list-tbl resume-tbl">
                                                <colgroup>
                                                    <col class="w3">
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col>
                                                    <col class="w2">
                                                </colgroup>
                                                <tr>
                                                    <th>심사자</th>
                                                    <th>성실</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>자기소개</th>
                                                    <th>태도</th>
                                                    <th>총점</th>
                                                    <th>코멘트</th>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">홍길동</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-grey lighten1 efw500">A</td>
                                                    <td class="fc-dull-blue lighten1 efw700">A</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김우리</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-grey lighten1 efw500">B</td>
                                                    <td class="fc-dull-blue lighten1 efw700">B</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김삼성</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-dull-blue lighten1 efw700">C</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td class="fc-dull-blue">김현대</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-grey lighten1 efw500">C</td>
                                                    <td class="fc-dull-blue lighten1 efw700">C</td>
                                                    <td>
                                                        <span class="btn show-modal cmt-btn"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div> <!-- //면접2 평가 내용 -->
                                    <div class="cardtit-box anchortit-box" data-tit="4">
                                        <h5 class="cardtit"><img src="../../../content/images/sub/receptStatus/apply-evsum-ico-05.png" alt="최종합격 아이콘" class="ico">최종합격</h5>
                                    </div> <!-- //최종합격 제목 -->
                                    <div class="resume-tbl-box">
                                        <div class="flex-box flex-spc-cnt flex-align-cnt resume-tbl-tit">
                                            <span class="label">결과</span><strong class="result">데이터 없음</strong>
                                        </div>
                                    </div> <!-- //최종합격 내용 -->
                                    <div class="flex-box flex-spc-btw card-btn-box">
                                        <div class="lt">
                                            <a href="공고별접수현황상세.html" title="공고별접수현황상세 페이지로 이동" class="fc-grey btn sm sm-h linebtn">목록</a>
                                        </div>
                                    </div>
                                </div> <!-- //하단 지원자 상세정보 -->
                            </div> <!-- //card -->
                        </div> <!-- //card wrap : 지원자 평가요약 -->
                        <span class="btn scltop-btn"><span class="efw500 label">TOP</span></span>
                    </div> <!-- //grid -->
                </div>
                <!-- footer START -->
                <footer>
                    <div class="grid">
                        <div class="flex-box flex-spc-btw ft-wrap">
                            <div class="lt">
                                <span class="copyright">COPYRIGHT©NHR COMMUNICATIONS. ALL RIGHTS RESERVED.</span>
                            </div>
                            <div class="rt">
                                <span class="ft-info">help-n@nhrcomm.com</span><span class="ft-info">02-735-1141</span>
                            </div>
                        </div>
                    </div> <!-- //grid -->
                </footer>
                <!-- //footer END -->
            </section>
            <!-- //right page area END -->
        </div>
        <!-- //wrapper END -->
        <!-- modal START -->
        <div class="modal-area">
            <div class="modal-wrap align-cnt">
                <div class="modal-view-wrap">
                    <div class="modal-view">
                        <strong class="modal-hd-tit">심사자 코멘트</strong>
                        <div class="modal-cont">
                            <p>성실한 학생입니다. 그러나 회사의 비전과 맞지않는 어쩌구 저쩌구 심사자의 코멘트 텍스트입니다.</p>
                        </div>
                    </div>
                    <div class="txt-cnt modal-btn-wrap">
                        <span class="fc-grey btn xs xs-h linebtn close-modal">닫기</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //modal END -->
        <script>
            $(document).ready(function(){

                //스크롤 탑 이벤트
                var sclTopBtn = $('.scltop-btn');
                sclTopBtn.on('click', function(){
                    $('html, body').stop().animate({
                        scrollTop: 0
                    }, 350)
                });

                //탭 메뉴 이벤트
                var resume = $('.resume-wrap');
                var anchorTabBox = $('.anchor-tab-box');
                var anchorTabLi = $('.anchor-tab-box').find('li');

                //탭 메뉴 스크롤 이벤트
                $(window).scroll(function(){
                    var windowST = $(this).scrollTop();
                    var resumeST = resume.offset().top;

                    if(windowST > resumeST - 60) {
                        anchorTabBox.addClass('on');
                        sclTopBtn.addClass('on'); //스크롤 탑 버튼
                    } else {
                        sclTopBtn.removeClass('on'); //스크롤 탑 버튼
                        anchorTabBox.removeClass('on');
                    }

                    $('.anchortit-box').each(function(){
                        var anchorTitIdx = $(this).attr('data-tit');
                        var thisTitST = $(this).offset().top;

                        if(windowST > thisTitST - 70) {
                            $('.comn-tab').removeClass('on');
                            $('.anchor-tab-box').find('li').eq( anchorTitIdx).find('.comn-tab').addClass('on');
                        }
                        if (windowST + $(window).height() == $(document).height()) {
                            $('.comn-tab').removeClass('on');
                            $('.anchor-tab-box').find('li').last().find('.comn-tab').addClass('on');
                        }
                    });
                });

                //탭 메뉴 클릭 이벤트
                anchorTabLi.on('click', function(){
                    anchorTabBox.addClass('on');

                    var anchorLiIdx = $(this).index();
                    var anchorTitIdx = $('.anchortit-box').eq(anchorLiIdx);
                    var anchorTitSt = anchorTitIdx.offset().top;

                    $('html, body').stop().animate({
                        scrollTop: anchorTitSt - 60
                    }, 350);
                });

            });
        </script>
    </body>
</html>