<table summary="불합격 발표 메일" cellpadding="0" cellspacing="0" width="600" border="0" style="border-collapse: collapse;">
    <tr>
        <td width="40" style="font-size: 0;line-height: 0;"></td> <!-- //좌측여백 -->
        <td width="520" style="font-size: 0;line-height: 0;">
            <table cellpadding="0" cellspacing="0" width="100%" border="0" style="border-collapse: collapse;">
                <tr>
                    <td width="520" height="80" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //헤더 상단 여백 -->
                <tr>
                    <td width="520" align="center" style="font-size: 0;text-align: center;"><strong style="font-family: 'AppleSDGothic', 'apple sd gothic neo', 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 38px;line-height: 1.26;letter-spacing: -1.25px;color: #946c1e;text-align: left;">해당 기업명</strong></td>
                </tr> <!-- //헤더 타이틀 -->
                <tr>
                    <td width="520" height="40" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //콘텐츠 영역 간 여백 -->
                <tr>
                    <td width="520" height="20" style="font-size: 0;"><span style="font-family: 'AppleSDGothic', 'apple sd gothic neo', 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;letter-spacing: -1.25px;text-align: left;">경력ㅣ PlayD</span></td>
                </tr> <!-- //불합격 발표 카테고리 영역 -->
                <tr>
                    <td width="520" height="5" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //콘텐츠 영역 간 여백 -->
                <tr>
                    <td width="520" style="font-size: 0;"><span style="font-family: 'AppleSDGothic', 'apple sd gothic neo', 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-weight: 700;font-size: 22px;line-height: 1.4;letter-spacing: -1.25px;text-align: left;">2020년 상반기 경력 수시채용(구글광고 지원 컨설팅)</span></td>
                </tr> <!-- //불합격 발표 타이틀 영역 -->
                <tr>
                    <td width="520" height="15" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //콘텐츠 영역 간 여백 -->
                <tr>
                    <td width="520" style="font-size: 0;line-height: 0;">   
                        <table cellpadding="0" cellspacing="0" width="100%" border="0" style="border-collapse: collapse;">
                            <tr>
                                <td width="520" height="40" style="font-size: 0;line-height: 0;border-top: 2px solid #000;"></td> <!-- //불합격 발표 상단 여백-->
                            </tr>
                            <tr>
                                <td width="520" style="font-size: 0;"><span style="font-family: 'AppleSDGothic', 'apple sd gothic neo', 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 16px;line-height: 1.7;letter-spacing: -1.25px;text-align: left;"><strong style="font-size: 18px;">서류심사 불합격안내</strong><br><br>안녕하세요. <strong style="color: #946c1e;">홍길동님</strong><br><strong style="color: #946c1e;">2020년 상반기 경력 수시채용(구글광고 지원 컨설팅)</strong>에 지원해 주셔서 감사합니다.<br><br>안타깝게도 이번 공채에서는 귀하를 모실 수 없게 되었습니다.<br>감히 말씀드리자면, 귀하의 역량이 부족하다는 것은 결코 아니니 오늘의 서류 발표로 너무 상심하시지 않으셨으면 합니다.<br>많은 분들을 직접 붙고 얘기 나누고 싶었지만, 그중에서도 소수를 선발할 수밖에 없었다는 점 이해를 바랍니다. 한 분 한 분께 피드백 드리지 못하는 점 양해해 주시기 바랍니다. 아울러 제출해 주신 개인 정보는 하반기 채용이 끝나는 대로 폐기할 것을 약속드립니다.<br>추후 재지원에 대한 불이익은 없습니다.<br>더욱 성장한 모습으로 지원하시어, 이후 좋은 인연으로 다시금 만나 뵐 수 있기를 진심으로 바라며 저희도 빠르게 성장하여, 다음 기회에는 더욱 많은 분들을 모실 수 있었으면 좋겠습니다.<br>앞으로 귀하의 앞날에 행복이 가득하시길 기원합니다. 감사합니다.</td>
                            </tr> <!-- //불합격 발표 -->
                            <tr>
                                <td width="520" height="40" style="font-size: 0;line-height: 0;border-bottom: 1px solid #e9e9e9;"></td> <!-- //불합격 발표 하단 여백-->
                            </tr>
                        </table>
                    </td>
                </tr> <!-- //불합격 발표 -->
                <tr>
                    <td width="520" height="80" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //콘텐츠 영역 간 여백 -->
                <tr>
                    <td width="520" style="font-size: 0;"><span style="font-family: 'AppleSDGothic', 'apple sd gothic neo', 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;color: #666;line-height: 1.7;letter-spacing: -1.25px;text-align: left;">* 본 이메일은 발신전용이므로 문의사항은 공식 사이트 내의 문의하기를 통해 연락 주십시오.<br>* 문의하기 전에 먼저 FAQ를 보시면 빠른 답을 찾을 수 있습니다.</span></td>
                </tr> <!-- //하단 주의사항-->
                <tr>
                    <td width="520" height="80" style="font-size: 0;line-height: 0;"></td>
                </tr> <!-- //콘텐츠 영역 간 여백 -->
            </table>
        </td> <!-- //콘텐츠 영역 -->
        <td width="40" style="font-size: 0;line-height: 0;"></td> <!-- //우측여백 -->
    </tr>
    <tr>
        <td width="600" height="110" colspan="3" bgcolor="#626262" style="font-size: 0;line-height: 0;"></td>
    </tr>
</table>