<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../content/styles/skinA.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="top-hd">
                <div class="grid">
                    <div class="flex-box flex-spc-btn flex-spc-btw flex-align-cnt hd-wrap">
                        <div class="el lt">
                            <h1><a href="mainA.html" title="메인 페이지로 이동" class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></a></h1>
                            <span class="btn monav-btn">
                                <i></i><i></i><i></i>
                            </span>
                        </div>
                        <div class="el rt txt-rt">
                            <nav>
                                <ul class="flex-box flex-align-cnt">
                                    <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="navmenu">소개</a></li>
                                    <li><a href="culture.html" title="사내문화 페이지로 이동" class="navmenu">인사제도</a></li>
                                    <li><a href="process.html" title="채용 프로세스 페이지로 이동" class="navmenu">채용정보</a></li>
                                    <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="navmenu">공지/문의</a></li>
                                    <li><a href="myCareer.html" title="마이채용 페이지로 이동" class="btn hd-mycareer">마이채용</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //top header -->
            <div class="btm-hd">
                <div class="grid">
                    <div class="flex-box sub-nav-wrap">
                        <ul class="sub-navmenu-box">
                            <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="sub-navmenu">직무소개</a></li>
                            <li><a href="qualifiedImage.html" title="인재상 페이지로 이동" class="sub-navmenu">인재상</a></li>
                            <li><a href="interview.html" title="선배 인터뷰 페이지로 이동" class="sub-navmenu">선배 인터뷰</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="culture.html" title="사내문화 페이지로 이동" class="sub-navmenu">사내문화</a></li>
                            <li><a href="support.html" title="성장지원 페이지로 이동" class="sub-navmenu">성장지원</a></li>
                            <li><a href="welfare.html" title="복지제도 페이지로 이동" class="sub-navmenu">복지제도</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="process.html" title="채용프로세스 페이지로 이동" class="sub-navmenu">채용프로세스</a></li>
                            <li><a href="jobAdList.html" title="채용공고 페이지로 이동" class="sub-navmenu">채용공고</a></li>
                            <li><a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="sub-navmenu">인재풀 등록</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="sub-navmenu">공지사항</a></li>
                            <li><a href="faq.html" title="FAQ 페이지로 이동" class="sub-navmenu">FAQ</a></li>
                            <li><a href="qna.html" title="1:1 문의 페이지로 이동" class="sub-navmenu">1:1 문의</a></li>
                            <li><a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="sub-navmenu">채용서류 반환 청구</a></li>
                        </ul>
                    </div> <!-- //sub nav wrap -->
                </div>
            </div> <!-- //bottom header -->
        </header>
        <!-- //header END -->
        <!-- container START -->
        <div id="container">
            <div class="headline-area fullvsl" style="background-image: url('../../content/images/sub/headline-visual-jobAd.png');">
                <div class="grid">
                    <div class="headline-wrap">
                        <h2 class="headline-tit">채용공고</h2>
                        <p class="headline-txt">진행 중인 채용공고를 확인하고 지원합니다.</p>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //headline area -->
            <div class="page-root-area">
                <div class="grid">
                    <div class="flex-box flex-align-cnt page-root-wrap">
                        <span class="page-root"><img src="../../content/images/common/root-home-ico.png" alt="홈 아이콘" class="ico"></span>
                        <span class="page-root">채용정보</span>
                        <span class="fc-black page-root">채용공고</span>
                    </div>
                </div>
            </div> <!-- //page root area -->
            <!-- section START -->
            <section class="cont-area">
                <div class="grid">
                    <div class="hr-headline-wrap">
                        <h3 class="hr-hd-tit">2020년 상반기 경력 수시채용(온라인광고AE)</h3>
                        <div class="hr-hd-btm">
                            <span class="hr-hd-info ctg">GENIE MUSIC</span>
                            <span class="hr-hd-info">GENIE MUSIC 채용 지원센터 : recruit_genie@kt.com</span>
                            <div class="share-box">
                                <div class="sharebtn-box">
                                    <a href="javascript:void(0);" title="네이버 블로그로 공유하기" class="btn sharebtn naver"></a>
                                    <a href="javascript:void(0);" title="카카오로 공유하기" class="btn sharebtn kakao"></a>
                                    <a href="javascript:void(0);" title="페이스북으로 공유하기" class="btn sharebtn fb"></a>
                                    <a href="javascript:void(0);" title="트위터로 공유하기" class="btn sharebtn twt"></a>
                                    <a href="javascript:void(0);" title="url 복사하기" class="btn sharebtn url"></a>
                                </div>
                                <span class="btn sharebtn open"></span>
                            </div>
                        </div>
                    </div> <!-- //hr headline wrap -->
                    <div class="info-dl-wrap">
                        <dl class="flex-box info-dl hr-info-dl">
                            <dt class="info-dt">
                                <strong class="txt-indent info-dt-tit"><span class="mark">1.</span>모집부문 및 <span class="txt-break">자격요건</span></strong>
                            </dt>
                            <dd class="info-dd">
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">모집부문</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">커머스</strong>
                                            <p class="info-dd-txt">신규 커머스 사업</p>
                                            <p class="info-dd-txt">방송 그래픽 디자인</p>
                                        </div>
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">KT</strong>
                                            <p class="info-dd-txt">ICT 서버 플랫폼 개발</p>
                                            <p class="info-dd-txt">WE/WAS 구축, 컨설팅 및 기술지원</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">담당업무 및 <span class="txt-break">지원자격</span></strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">신규 커머스 사업</strong>
                                            <p class="info-dd-txt">담당업무<br>- T커머스와 모바일에서 동영상 기반사업 신규 커머스 사업 기획 운영 및 제휴 파트너 영업 총괄<br></p>
                                            <p class="info-dd-txt">지원자격<br>- 관련 경력 10년 이상<br>- 모바일 라이브 커머스, 인플루언서 기반 커머스, 비디오 커머스, 중국 왕홍 기반 사업 등<br>- 신규 모바일 사업 런칭, 사업 브랜드 마케팅 경력자</p>
                                        </div>
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">방송 그래픽 디자인</strong>
                                            <p class="info-dd-txt">담당업무<br>- 방송그래픽 제작<br>- 방송그래픽 디자인</p>
                                            <p class="info-dd-txt">지원자격<br>- 관련 경력 2년 이상<br>- 필수 스킬 : 포토샵 / 일러스트 / 애프터이펙트 사용<br>- 디자인 전공자 및 홈쇼핑 경력 우대</p>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl> <!-- //infomation dl -->
                        <dl class="flex-box info-dl hr-info-dl">
                            <dt class="info-dt">
                                <strong class="txt-indent info-dt-tit"><span class="mark">2.</span>근무조건</strong>
                            </dt>
                            <dd class="info-dd">
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">근무지역</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">커머스</strong>
                                            <p class="info-dd-txt">서울 양천구 목동 K쇼핑 미디어센터</p>
                                        </div>
                                        <div class="info-dd-box">
                                            <strong class="info-dd-tit">ICT/콘텐츠</strong>
                                            <p class="info-dd-txt">서울 동작구 kth 본사</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">근무시간</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <p class="info-dd-txt">주5일 (월~금) / 오전 9시~오후 6시</p>
                                    </div>
                                </div>
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">급여</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <p class="info-dd-txt">연봉제</p>
                                        <p class="info-dd-txt">수습2개월 진행 (연봉의 80%지급)</p>
                                    </div>
                                </div>
                            </dd>
                        </dl> <!-- //infomation dl -->
                        <dl class="flex-box info-dl hr-info-dl">
                            <dt class="info-dt">
                                <strong class="txt-indent info-dt-tit"><span class="mark">3.</span>프로세스</strong>
                            </dt>
                            <dd class="info-dd">
                                <ul class="flex-box info-dl-proc col7">
                                    <li>
                                        <span class="efw500 label">step 01</span>
                                        <strong class="tit">지원서접수</strong>
                                        <p class="btm txt">2.21(금) ~ 3.08(일)</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 02</span>
                                        <strong class="tit">서류전형</strong>
                                        <p class="btm txt">3월 초</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 03</span>
                                        <strong class="tit"><span class="txt-break">종합 인/적성</span> 검사</strong>
                                        <p class="btm txt">3월 중</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 04</span>
                                        <strong class="tit">실무면접</strong>
                                        <p class="btm txt">3월 중</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 05</span>
                                        <strong class="tit">임원면접</strong>
                                        <p class="btm txt">3월 중</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 06</span>
                                        <strong class="tit">건강검진</strong>
                                        <p class="btm txt">3월 중</p>
                                    </li>
                                    <li>
                                        <span class="efw500 label">step 07</span>
                                        <strong class="tit">최종합격</strong>
                                        <p class="btm txt">3월 말</p>
                                    </li>
                                </ul>
                                <div class="tip-box">
                                    <p class="txt-indent tip"><span class="mark">※</span>전형 일정이 변동될 수 있는 점 양해 부탁드리며, 상세 일정은 전형 별 합격자에 한하여 개별 안내드릴 예정입니다.</p>
                                </div>
                            </dd>
                        </dl> <!-- //infomation dl -->
                        <dl class="flex-box info-dl hr-info-dl">
                            <dt class="info-dt">
                                <strong class="txt-indent info-dt-tit"><span class="mark">4.</span>기타</strong>
                            </dt>
                            <dd class="info-dd">
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">중복지원 제한</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <p class="info-dd-txt">동일 기간동안 진행 중인 상시 채용공고에 중복으로 지원할 수 없습니다.</p>
                                        <p class="info-dd-txt">접수 기간이 종료되지 않은 공고에 지원 중인 경우, 지원서 제출을 취소하시면 다른 공고에 지원 가능합니다.</p>
                                        <p class="info-dd-txt">진행 중인 전형 단계에서 불합격하신 경우, 다른 공고에 지원하실 수 있습니다.</p>
                                    </div>
                                </div>
                                <div class="flex-box info-sub-dl">
                                    <div class="info-sub-dt">
                                        <strong class="info-sub-dt-tit">기타</strong>
                                    </div>
                                    <div class="info-sub-dd">
                                        <p class="info-dd-txt">국가보훈취업 지원 대상자는 관계 법령에 의거하여 우대합니다.</p>
                                        <p class="info-dd-txt">지원서 접수 마감일에는 지원자가 몰려 입사지원이 어려울 수 있으니, 여유 있게 미리 제출하시기를 권장합니다.</p>
                                        <p class="info-dd-txt">지원서의 내용이 사실과 다르거나 문서로 증빙이 불가할 경우 합격이 취소되거나 전형 상의 불이익을 받을 수 있습니다.</p>
                                        <p class="info-dd-txt">지원서 접수는 채용 홈페이지를 통해 접수하며, 그 외의 개별 접수는 받지 않습니다.</p>
                                    </div>
                                </div>
                            </dd>
                        </dl> <!-- //infomation dl -->
                    </div> <!-- //information dl wrap -->
                    <div class="pagebtn-wrap">
                        <a href="jobAdList.html" title="채용공고 목록 보러가기" class="fc-grey btn comnbtn lg-w lg-h linebtn">목록</a>
                        <a href="applyForm.html" title="지원서 작성하러 가기" class="black btn comnbtn lg-w lg-h solidbtn">지원서 수정/작성</a>
                    </div> <!-- //page button wrap -->
                </div> <!-- //grid -->
            </section>
            <!-- //section END -->
        </div>
        <!-- //container END -->
        <!-- information bar START -->
        <div class="infobar-area">
            <div class="grid">
                <div class="flex-box flex-spc-btw flex-align-cnt infobar-wrap">
                    <span class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></span>
                    <div class="infobar-box">
                        <strong class="infobar">채용문의</strong>
                        <span class="infobar el">전화 02-3149-7988</span>
                        <span class="infobar el">팩스 02-2194-0369</span>
                        <a href="qna.html" title="1:1 온라인 문의 하러가기" class="btn infobar-btn">1:1 온라인 문의</a>
                    </div>
                </div> <!-- //main bar wrap -->
            </div> <!-- //grid -->
        </div>
        <!-- //information bar END -->
        <!-- footer START -->
        <footer>
            <div class="grid">
                <div class="flex-box flex-spc-btw ft-wrap">
                    <div class="el rt">
                        <div class="flex-box">
                            <!-- footer sns menu -->
                            <a href="javascript:void(0);" target="_blank" title="페이스북 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-facebook-w.png" alt="페이스북 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="네이버 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-naver-w.png" alt="네이버 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="인스타그램 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-insta-w.png" alt="인스타그램 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="유튜브 채널로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-youtube-w.png" alt="유튜브 로고"></a>
                            <!-- //footer sns menu -->
                            <div class="familysite">
                                <span class="btn famsite-btn">패밀리사이트<img src="../../content/images/common/footer-familysite-ico.png" alt="패밀리사이트 보기 아이콘" class="ico"></span>
                                <ul class="famsite-list">
                                    <li><a href="https://corp.kt.com/" target="_blank" title="" class="famsite-menu">KT</a></li>
                                    <li><a href="https://www.kt.com/" target="_blank" title="" class="famsite-menu">KT 개인</a></li>
                                    <li><a href="https://shop.kt.com/main.do" target="_blank" title="" class="famsite-menu">KT SHOP</a></li>
                                </ul>
                            </div> <!-- //familly site -->
                        </div>
                    </div>
                    <div class="el lt">
                        <div class="ft-termmenu-box">
                            <a href="terms.html" title="이용약관 보러가기" class="btn ft-termmenu">이용약관</a>
                            <a href="privacy.html" title="개인정보처리방침 보러가기" class="btn ft-termmenu">개인정보처리방침</a>
                        </div>
                        <p class="copyright">&copy; KT corp. ALL RIGHTS RESERVED.</p>
                    </div>
                </div> <!-- //footer wrap -->
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- mobile navigatioin START -->
        <div class="monav-area">
            <div class="monav-wrap">
                <div class="flex-box flex-spc-btw flex-align-cnt monav-my-box">
                    <p>이미 지원한 공고가 있습니까?<br>나의 지원 결과를 확인하세요.</p>
                    <a href="myCareer.html" title="마이채용 페이지로 이동" class="btn monav-mycareer">마이채용</a>
                </div> <!-- //mobile nav mycareer -->
                <ul class="monav-list">
                    <li class="flex-box">
                        <strong class="monav-tit">소개</strong>
                        <div class="monav-menu-box">
                            <a href="jobIntro.html" title="직무소개 페이지로 이동" class="monav-menu">직무소개</a>
                            <a href="qualifiedImage.html" title="인재상 페이지로 이동" class="monav-menu">인재상</a>
                            <a href="interview.html" title="선배 인터뷰 페이지로 이동" class="monav-menu">선배 인터뷰</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">인사제도</strong>
                        <div class="monav-menu-box">
                            <a href="culture.html" title="사내문화 페이지로 이동" class="monav-menu">사내문화</a>
                            <a href="support.html" title="성장지원 페이지로 이동" class="monav-menu">성장지원</a>
                            <a href="welfare.html" title="복지제도 페이지로 이동" class="monav-menu">복지제도</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">채용정보</strong>
                        <div class="monav-menu-box">
                            <a href="process.html" title="채용프로세스 페이지로 이동" class="monav-menu">채용프로세스</a>
                            <a href="jobAdList.html" title="채용공고 페이지로 이동" class="monav-menu">채용공고</a>
                            <a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="monav-menu">인재풀 등록</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">공지/문의</strong>
                        <div class="monav-menu-box">
                            <a href="noticeList.html" title="공지사항 페이지로 이동" class="monav-menu">공지사항</a>
                            <a href="faq.html" title="FAQ 페이지로 이동" class="monav-menu">FAQ</a>
                            <a href="qna.html" title="1:1문의 페이지로 이동" class="monav-menu">1:1문의</a>
                            <a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="monav-menu">채용서류 반환 청구</a>
                        </div>
                    </li>
                </ul> <!-- //mobile nav list -->
            </div> <!-- //mobile nav wrap -->
        </div>
        <!-- //mobile navigatioin END -->
    </body>
</html>