<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../content/styles/skinA.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="top-hd">
                <div class="grid">
                    <div class="flex-box flex-spc-btn flex-spc-btw flex-align-cnt hd-wrap">
                        <div class="el lt">
                            <h1><a href="mainA.html" title="메인 페이지로 이동" class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></a></h1>
                            <span class="btn monav-btn">
                                <i></i><i></i><i></i>
                            </span>
                        </div>
                        <div class="el rt txt-rt">
                            <nav>
                                <ul class="flex-box flex-align-cnt">
                                    <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="navmenu">소개</a></li>
                                    <li><a href="culture.html" title="사내문화 페이지로 이동" class="navmenu">인사제도</a></li>
                                    <li><a href="process.html" title="채용 프로세스 페이지로 이동" class="navmenu">채용정보</a></li>
                                    <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="navmenu">공지/문의</a></li>
                                    <li><a href="myCareer.html" title="마이채용 페이지로 이동" class="btn hd-mycareer">마이채용</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //top header -->
            <div class="btm-hd">
                <div class="grid">
                    <div class="flex-box sub-nav-wrap">
                        <ul class="sub-navmenu-box">
                            <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="sub-navmenu">직무소개</a></li>
                            <li><a href="qualifiedImage.html" title="인재상 페이지로 이동" class="sub-navmenu">인재상</a></li>
                            <li><a href="interview.html" title="선배 인터뷰 페이지로 이동" class="sub-navmenu">선배 인터뷰</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="culture.html" title="사내문화 페이지로 이동" class="sub-navmenu">사내문화</a></li>
                            <li><a href="support.html" title="성장지원 페이지로 이동" class="sub-navmenu">성장지원</a></li>
                            <li><a href="welfare.html" title="복지제도 페이지로 이동" class="sub-navmenu">복지제도</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="process.html" title="채용프로세스 페이지로 이동" class="sub-navmenu">채용프로세스</a></li>
                            <li><a href="jobAdList.html" title="채용공고 페이지로 이동" class="sub-navmenu">채용공고</a></li>
                            <li><a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="sub-navmenu">인재풀 등록</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="sub-navmenu">공지사항</a></li>
                            <li><a href="faq.html" title="FAQ 페이지로 이동" class="sub-navmenu">FAQ</a></li>
                            <li><a href="qna.html" title="1:1 문의 페이지로 이동" class="sub-navmenu">1:1 문의</a></li>
                            <li><a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="sub-navmenu">채용서류 반환 청구</a></li>
                        </ul>
                    </div> <!-- //sub nav wrap -->
                </div>
            </div> <!-- //bottom header -->
        </header>
        <!-- //header END -->
        <!-- container START -->
        <div id="container">
            <div class="headline-area fullvsl" style="background-image: url('../../content/images/sub/headline-visual-jobintro.png');">
                <div class="grid">
                    <div class="headline-wrap">
                        <h2 class="headline-tit">직무소개</h2>
                        <p class="headline-txt">다양한 직무 영역 중에서 자신에게 맞는 직무가 있는지 확인해보세요.</p>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //headline area -->
            <div class="page-root-area">
                <div class="grid">
                    <div class="flex-box flex-align-cnt page-root-wrap">
                        <span class="page-root"><img src="../../content/images/common/root-home-ico.png" alt="홈 아이콘" class="ico"></span>
                        <span class="page-root">소개</span>
                        <span class="fc-black page-root">직무소개</span>
                    </div>
                </div>
            </div> <!-- //page root area -->
            <!-- section START -->
            <section class="cont-area">
                <div class="grid">
                    <div class="mo-comntab-wrap">
                        <select class="form-select">
                            <option>ICT/부동산</option>
                            <option>미디어</option>
                            <option>금융</option>
                            <option>스타트업 / 기타</option>
                        </select>
                    </div> <!-- //mobile common tab wrap -->
                    <ul class="flex-box comntab-wrap col4">
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab on"><span class="label">ICT/부동산</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">미디어</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">금융</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">스타트업/기타</span></a>
                        </li>
                    </ul> <!-- //common tab wrap -->
                    <div class="comntag-wrap">
                        <div class="flex-box comntag-box">
                            <a href="javascript:void(0);" title="" class="comntag">kt estate</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt 브이피</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt estate</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt estate</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt estate</a>
                            <a href="javascript:void(0);" title="" class="comntag">lorem ipsum</a>
                            <a href="javascript:void(0);" title="" class="comntag">olleh kt</a>
                            <a href="javascript:void(0);" title="" class="comntag">olleh kt</a>
                            <a href="javascript:void(0);" title="" class="comntag">giga genie</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt 브이피</a>
                            <a href="javascript:void(0);" title="" class="comntag">kt</a>
                        </div> <!-- //common tag box -->
                    </div> <!-- //common tag tag -->
                    <div class="cont-hdtit-wrap">
                        <h4 class="cont-hdtit">kt estate</h4>
                        <p class="cont-hdtxt">ICT 적용으로 차별화된 공간가치를 창출하는 kt estate<br>kt estate는 ICT 부동산 및 포트폴리오 진단과 개발, 임대 · 운영관리, 유동화 · 증권화 등 부동산 전 영역을 아우르는 다양한 사업을 전개하고 있습니다.<br>앞으로 kt estate는 사업분야의 핵심 역량 강화는 물론, 신성장 비즈니스 모델을 개발하여 국내 부동산 시장을 선도해 나가겠습니다.</p>
                    </div> <!-- //content head title wrap -->
                    <h5 class="job-dl-tit">주요업무</h5>
                    <div class="job-dl-wrap">
                        <ul class="job-nav">
                            <li class="job-nav-menu on">경영지원</li>
                            <li class="job-nav-menu">부동산개발</li>
                            <li class="job-nav-menu">자산운영</li>
                        </ul>
                        <div class="job-dl-box" style="display: block;">
                            <dl class="job-dl">
                                <dt class="job-dt">전략기획</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>보유 부동산 가치 제고를 위한 사업 전략 계획 수립 및 관리</p>
                                    <p class="txt-indent"><span class="mark">-</span>사업 전략 수립, 리스크 관리, Asset Management, 이슈조정 및 사업관리 업무 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>경영목표를 달성을 위한 제반 경영자료와 정보를 활용한 전략적 기획력이 필요 상황을 논리적으로 생각하고 체계적으로 업무를 처리하는 분석적 사고력 필요 리스크 관리 제반 지식을 바탕으로 종합적인 리스크 관리 능력 필요</p>
                                </dd>
                            </dl>
                            <dl class="job-dl">
                                <dt class="job-dt">구매관리</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>보유 부동산 가치 제고를 위한 사업 전략 계획 수립 및 관리</p>
                                    <p class="txt-indent"><span class="mark">-</span>사업 전략 수립, 리스크 관리, Asset Management, 이슈조정 및 사업관리 업무 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>경영목표를 달성을 위한 제반 경영자료와 정보를 활용한 전략적 기획력이 필요 상황을 논리적으로 생각하고 체계적으로 업무를 처리하는 분석적 사고력 필요 리스크 관리 제반 지식을 바탕으로 종합적인 리스크 관리 능력 필요</p>
                                    <img src="../../content/images/sub/jobintro-img-01.png" alt="이미지">
                                </dd>
                            </dl>
                            <dl class="job-dl">
                                <dt class="job-dt">HR</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>경영 계획을 바탕으로 채용, 보상, 평가, 승진 등 인사제도 운영</p>
                                    <p class="txt-indent"><span class="mark">-</span>인사기획, 인재채용, 성과평가, 승진, 교육 계획 수립 및 운영, 노무 관련 이슈 대응 등의 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>조직내 이슈를 파악하고 분석 및 개선할 수 있는 문제의식과 분석력, 기획력 필요 다양한 의견을 직접 수용할 수 있는 폭넓은 사고력과 포용력 필요 임직원들과 원활한 커뮤니케이션을 위한 의사소통 능력 필요</p>
                                </dd>
                            </dl>
                        </div> <!-- //job dl box -->
                        <div class="job-dl-box">
                            <dl class="job-dl">
                                <dt class="job-dt">호텔개발</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>호텔 및 복합시설의 개발사업 추진</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔 개발사업 계획수립, 프로젝트 인허가 추진, 호텔 운영사 선정 및 호텔 운영 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔에 대한 전반적인 시장 동향과 호텔 사업에 대한 이해가 필요 사업 계획을 위한 기획력과 분석력이 요구되며 운영사와의 원만한 영어 커뮤니케이션 스킬 필요 호텔 개발에 필요한 인허가 업무에 대한 전반적인 개념 이해</p>
                                    <img src="../../content/images/sub/jobintro-img-02.png" alt="이미지">
                                </dd>
                            </dl>
                            <dl class="job-dl">
                                <dt class="job-dt">리테일</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>리테일 기획 및 운영을 통한 자산가치 극대화</p>
                                    <p class="txt-indent"><span class="mark">-</span>리테일 운영계획 수립 및 관리, MD기획, Tenant 유치 및 관리, 리테일 시장 조사 등의 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>상업시설 개발 기획을 위한 기획력 및 재무 기초 지식 건축도면에 대한 개략적인 이해와 MD 기획을 위한 공간적 감각 Tenant 유치 및 협상을 위한 기본적인 커뮤니케이션 능력</p>
                                </dd>
                            </dl>
                        </div> <!-- //job dl box -->
                        <div class="job-dl-box">
                            <dl class="job-dl">
                                <dt class="job-dt">PM</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>보유 부동산 자산 관리</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔 개발사업 계획수립, 프로젝트 인허가 추진, 호텔 운영사 선정 및 호텔 운영 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔에 대한 전반적인 시장 동향과 호텔 사업에 대한 이해가 필요 사업 계획을 위한 기획력과 분석력이 요구되며 운영사와의 원만한 영어 커뮤니케이션 스킬 필요 호텔 개발에 필요한 인허가 업무에 대한 전반적인 개념 이해</p>
                                </dd>
                            </dl>
                            <dl class="job-dl">
                                <dt class="job-dt">리테일</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>리테일 기획 및 운영을 통한 자산가치 극대화</p>
                                    <p class="txt-indent"><span class="mark">-</span>리테일 운영계획 수립 및 관리, MD기획, Tenant 유치 및 관리, 리테일 시장 조사 등의 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>상업시설 개발 기획을 위한 기획력 및 재무 기초 지식 건축도면에 대한 개략적인 이해와 MD 기획을 위한 공간적 감각 Tenant 유치 및 협상을 위한 기본적인 커뮤니케이션 능력</p>
                                </dd>
                            </dl>
                            <dl class="job-dl">
                                <dt class="job-dt">호텔개발</dt>
                                <dd class="job-dd">
                                    <p class="txt-indent"><span class="mark">-</span>호텔 및 복합시설의 개발사업 추진</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔 개발사업 계획수립, 프로젝트 인허가 추진, 호텔 운영사 선정 및 호텔 운영 업무를 수행합니다.</p>
                                    <p class="txt-indent"><span class="mark">-</span>호텔에 대한 전반적인 시장 동향과 호텔 사업에 대한 이해가 필요 사업 계획을 위한 기획력과 분석력이 요구되며 운영사와의 원만한 영어 커뮤니케이션 스킬 필요 호텔 개발에 필요한 인허가 업무에 대한 전반적인 개념 이해</p>
                                    <img src="../../content/images/sub/jobintro-img-03.png" alt="이미지">
                                </dd>
                            </dl>
                        </div> <!-- //job dl box -->
                    </div> <!-- //job dl wrap -->
                </div> <!-- //grid -->
            </section>
            <!-- //section END -->
        </div>
        <!-- //container END -->
        <!-- information bar START -->
        <div class="infobar-area">
            <div class="grid">
                <div class="flex-box flex-spc-btw flex-align-cnt infobar-wrap">
                    <span class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></span>
                    <div class="infobar-box">
                        <strong class="infobar">채용문의</strong>
                        <span class="infobar el">전화 02-3149-7988</span>
                        <span class="infobar el">팩스 02-2194-0369</span>
                        <a href="qna.html" title="1:1 온라인 문의 하러가기" class="btn infobar-btn">1:1 온라인 문의</a>
                    </div>
                </div> <!-- //main bar wrap -->
            </div> <!-- //grid -->
        </div>
        <!-- //information bar END -->
        <!-- footer START -->
        <footer>
            <div class="grid">
                <div class="flex-box flex-spc-btw ft-wrap">
                    <div class="el rt">
                        <div class="flex-box">
                            <!-- footer sns menu -->
                            <a href="javascript:void(0);" target="_blank" title="페이스북 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-facebook-w.png" alt="페이스북 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="네이버 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-naver-w.png" alt="네이버 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="인스타그램 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-insta-w.png" alt="인스타그램 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="유튜브 채널로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-youtube-w.png" alt="유튜브 로고"></a>
                            <!-- //footer sns menu -->
                            <div class="familysite">
                                <span class="btn famsite-btn">패밀리사이트<img src="../../content/images/common/footer-familysite-ico.png" alt="패밀리사이트 보기 아이콘" class="ico"></span>
                                <ul class="famsite-list">
                                    <li><a href="https://corp.kt.com/" target="_blank" title="" class="famsite-menu">KT</a></li>
                                    <li><a href="https://www.kt.com/" target="_blank" title="" class="famsite-menu">KT 개인</a></li>
                                    <li><a href="https://shop.kt.com/main.do" target="_blank" title="" class="famsite-menu">KT SHOP</a></li>
                                </ul>
                            </div> <!-- //familly site -->
                        </div>
                    </div>
                    <div class="el lt">
                        <div class="ft-termmenu-box">
                            <a href="terms.html" title="이용약관 보러가기" class="btn ft-termmenu">이용약관</a>
                            <a href="privacy.html" title="개인정보처리방침 보러가기" class="btn ft-termmenu">개인정보처리방침</a>
                        </div>
                        <p class="copyright">&copy; KT corp. ALL RIGHTS RESERVED.</p>
                    </div>
                </div> <!-- //footer wrap -->
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- mobile navigatioin START -->
        <div class="monav-area">
            <div class="monav-wrap">
                <div class="flex-box flex-spc-btw flex-align-cnt monav-my-box">
                    <p>이미 지원한 공고가 있습니까?<br>나의 지원 결과를 확인하세요.</p>
                    <a href="myCareer.html" title="마이채용 페이지로 이동" class="btn monav-mycareer">마이채용</a>
                </div> <!-- //mobile nav mycareer -->
                <ul class="monav-list">
                    <li class="flex-box">
                        <strong class="monav-tit">소개</strong>
                        <div class="monav-menu-box">
                            <a href="jobIntro.html" title="직무소개 페이지로 이동" class="monav-menu">직무소개</a>
                            <a href="qualifiedImage.html" title="인재상 페이지로 이동" class="monav-menu">인재상</a>
                            <a href="interview.html" title="선배 인터뷰 페이지로 이동" class="monav-menu">선배 인터뷰</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">인사제도</strong>
                        <div class="monav-menu-box">
                            <a href="culture.html" title="사내문화 페이지로 이동" class="monav-menu">사내문화</a>
                            <a href="support.html" title="성장지원 페이지로 이동" class="monav-menu">성장지원</a>
                            <a href="welfare.html" title="복지제도 페이지로 이동" class="monav-menu">복지제도</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">채용정보</strong>
                        <div class="monav-menu-box">
                            <a href="process.html" title="채용프로세스 페이지로 이동" class="monav-menu">채용프로세스</a>
                            <a href="jobAdList.html" title="채용공고 페이지로 이동" class="monav-menu">채용공고</a>
                            <a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="monav-menu">인재풀 등록</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">공지/문의</strong>
                        <div class="monav-menu-box">
                            <a href="noticeList.html" title="공지사항 페이지로 이동" class="monav-menu">공지사항</a>
                            <a href="faq.html" title="FAQ 페이지로 이동" class="monav-menu">FAQ</a>
                            <a href="qna.html" title="1:1문의 페이지로 이동" class="monav-menu">1:1문의</a>
                            <a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="monav-menu">채용서류 반환 청구</a>
                        </div>
                    </li>
                </ul> <!-- //mobile nav list -->
            </div> <!-- //mobile nav wrap -->
        </div>
        <!-- //mobile navigatioin END -->
        <script>
            $(document).ready(function(){
                //job nav event
                $('.job-nav-menu').on('click', function(){
                    $('.job-nav-menu').removeClass('on');
                    $(this).addClass('on');

                    var jobNavIdx = $(this).index();
                    var jobBoxIdx = $('.job-dl-box').eq(jobNavIdx);

                    $('.job-dl-box').hide();
                    jobBoxIdx.show();
                });
            });
        </script>
    </body>
</html>