<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../content/styles/swiper.min.css" rel="stylesheet">
        <link href="../../content/styles/skinA.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="top-hd">
                <div class="grid">
                    <div class="flex-box flex-spc-btn flex-spc-btw flex-align-cnt hd-wrap">
                        <div class="el lt">
                            <h1><a href="mainA.html" title="메인 페이지로 이동" class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></a></h1>
                            <span class="btn monav-btn">
                                <i></i><i></i><i></i>
                            </span>
                        </div>
                        <div class="el rt txt-rt">
                            <nav>
                                <ul class="flex-box flex-align-cnt">
                                    <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="navmenu">소개</a></li>
                                    <li><a href="culture.html" title="사내문화 페이지로 이동" class="navmenu">인사제도</a></li>
                                    <li><a href="process.html" title="채용 프로세스 페이지로 이동" class="navmenu">채용정보</a></li>
                                    <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="navmenu">공지/문의</a></li>
                                    <li><a href="myCareer.html" title="마이채용 페이지로 이동" class="btn hd-mycareer">마이채용</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //top header -->
            <div class="btm-hd">
                <div class="grid">
                    <div class="flex-box sub-nav-wrap">
                        <ul class="sub-navmenu-box">
                            <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="sub-navmenu">직무소개</a></li>
                            <li><a href="qualifiedImage.html" title="인재상 페이지로 이동" class="sub-navmenu">인재상</a></li>
                            <li><a href="interview.html" title="선배 인터뷰 페이지로 이동" class="sub-navmenu">선배 인터뷰</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="culture.html" title="사내문화 페이지로 이동" class="sub-navmenu">사내문화</a></li>
                            <li><a href="support.html" title="성장지원 페이지로 이동" class="sub-navmenu">성장지원</a></li>
                            <li><a href="welfare.html" title="복지제도 페이지로 이동" class="sub-navmenu">복지제도</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="process.html" title="채용프로세스 페이지로 이동" class="sub-navmenu">채용프로세스</a></li>
                            <li><a href="jobAdList.html" title="채용공고 페이지로 이동" class="sub-navmenu">채용공고</a></li>
                            <li><a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="sub-navmenu">인재풀 등록</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="sub-navmenu">공지사항</a></li>
                            <li><a href="faq.html" title="FAQ 페이지로 이동" class="sub-navmenu">FAQ</a></li>
                            <li><a href="qna.html" title="1:1 문의 페이지로 이동" class="sub-navmenu">1:1 문의</a></li>
                            <li><a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="sub-navmenu">채용서류 반환 청구</a></li>
                        </ul>
                    </div> <!-- //sub nav wrap -->
                </div>
            </div> <!-- //bottom header -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <div class="main-vsl-area">
                <div class="swiper-container main-swiper">
                    <div class="swiper-wrapper main-swiper-wrapper">
                        <div class="swiper-slide main-swiper-slide" style="background-image: url('../../content/images/main/visual-slider-img-01.png');">
                            <div class="grid">
                                <h2 class="main-swiper-tit">kt는<br>새로운 <mark>미래 가치</mark>를 만들어 갈<br>당신을 기다립니다.</h2>
                            </div>
                        </div>
                        <div class="swiper-slide main-swiper-slide" style="background-image: url('../../content/images/main/visual-slider-img-02.png');">
                            <div class="grid">
                                <h2 class="main-swiper-tit">kt는<br>새로운 <mark>미래 가치</mark>를 만들어 갈<br>당신을 기다립니다.</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="main-vsl-pagination">
                        <div class="swiper-pagination main-swiper-pagination"></div>
                        <span class="efw500 main-number-pagination">0 / 0</span>
                    </div>
                </div>
            </div> <!-- //main visual area -->
            <div class="grey lighten3 db-card-area">
                <div class="grid">
                    <div class="db-card-wrap">
                        <div class="db-count-box col5">
                            <div class="flex-box flex-spc-cnt flex-align-cnt">
                                <h4 class="db-count-tit">진행 중인 채용 공고</h4>
                                <a href="jobAdList.html" title="전체 채용 공고 리스트 보러가기" class="db-count-el">
                                    <span class="db-count-label">전체</span><span class="efw700 db-count-num">45</span>
                                </a>
                                <a href="jobAdList.html" title="신입 채용 공고 리스트 보러가기" class="db-count-el">
                                    <span class="db-count-label">신입</span><span class="efw700 db-count-num">3</span>
                                </a>
                                <a href="jobAdList.html" title="경력 채용 공고 리스트 보러가기" class="db-count-el">
                                    <span class="db-count-label">경력</span><span class="efw700 db-count-num">21</span>
                                </a>
                                <a href="jobAdList.html" title="인턴 채용 공고 리스트 보러가기" class="db-count-el">
                                    <span class="db-count-label">인턴</span><span class="efw700 db-count-num">2</span>
                                </a>
                                <a href="jobAdList.html" title="기타 채용 공고 리스트 보러가기" class="db-count-el">
                                    <span class="db-count-label">기타</span><span class="efw700 db-count-num">19</span>
                                </a>
                            </div>
                        </div> <!-- //dashboad count wrap -->
                        <ul class="flex-box db-card-box">
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">2020년도 IT/기술 분야</span> 전문경력직 채용</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-25</span>
                                        <span class="db-ctg db-card-ctg lt">kt telecop</span>
                                        <span class="db-ctg db-card-ctg rt">신입</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">2020년 1월</span> 경력사원 모집</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-25</span>
                                        <span class="db-ctg db-card-ctg lt">GENIE MUSIC</span>
                                        <span class="db-ctg db-card-ctg rt">신입</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card cmgsoon">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">예산관리/회계 업무</span> 경력직 채용 (대리급)</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-3</span>
                                        <span class="db-ctg db-card-ctg lt">kt telecop</span>
                                        <span class="db-ctg db-card-ctg rt">경력</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">보훈취업지원대상</span> 채용</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-25</span>
                                        <span class="db-ctg db-card-ctg lt">kt M mobile</span>
                                        <span class="db-ctg db-card-ctg rt">기타</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">2020 경력사원 모집</span> (육아휴직 대체, 계약직)</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-25</span>
                                        <span class="db-ctg db-card-ctg lt">kt M mobile</span>
                                        <span class="db-ctg db-card-ctg rt">경력</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card cmgsoon">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">2020년도 IT/기술 분야</span> 전문경력직 채용</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-3</span>
                                        <span class="db-ctg db-card-ctg lt">kt telecop</span>
                                        <span class="db-ctg db-card-ctg rt">경력</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="jobAdView.html" title="채용 공고 보러가기" class="db-card">
                                    <div class="db-card-top">
                                        <strong class="txt-elp-multi db-tit db-card-tit"><span class="txt-break">2020년 1월</span> 경력사원 모집</strong>
                                        <span class="efw500 db-date db-card-date">~2020.02.28</span>
                                    </div>
                                    <div class="db-card-btm">
                                        <span class="efw700 db-dday db-card-dday">D-25</span>
                                        <span class="db-ctg db-card-ctg lt">kth</span>
                                        <span class="db-ctg db-card-ctg rt">경력</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="talentPool.html" title="인재풀 등록하러 가기" class="db-card pool">
                                    <strong class="db-tit db-card-tit">인재풀 등록하기</strong>
                                    <p class="db-card-txt">글로벌 KT와 함께하는 길은<br>언제나 열려 있습니다.</p>
                                </a>
                            </li>
                        </ul> <!-- //dashboard card wrap -->
                    </div> <!-- //dashboard card wrap : 진행 중 채용 공고-->
                </div> <!-- //grid -->
            </div> <!-- //dashboard area -->
            <div class="main-rectmenu-area">
                <div class="grid">
                    <div class="flex-box main-rectmenu-wrap">
                        <a href="noticeView.html" title="공지사항 내용 보러가기" class="main-rectmenu txt">
                            <h4 class="main-rectmenu-label">공지사항</h4>
                            <strong class="txt-elp main-rectmenu-tit">신종 코로나바이러스 관련 면접 운영 안내</strong>
                            <p class="txt-elp-multi main-rectmenu-txt">신종 코로나 바이러스 19의 유행으로 인해 면접 일시가 연기됨을 알려드립니다. 신입채용 면접의 경우 자세한 일정은 별도의 공지사항을 올릴 예정입니다.</p>
                        </a>
                        <a href="faq.html" title="FAQ 보러가기" class="main-rectmenu txt">
                            <h4 class="main-rectmenu-label">FAQ</h4>
                            <strong class="txt-elp main-rectmenu-tit">입사관련 자주 묻는 질문들을 확인 하세요.</strong>
                            <p class="txt-elp-multi main-rectmenu-txt">전형절차 / 공인 어학점수가 없는데 지원 가능 한가요? 지원서 / 군 미필자인 경우 지원 가능 한가요?</p>
                        </a>
                    </div> <!-- //main rectangle menu -->
                </div> <!-- //grid -->
            </div> <!-- //main rectangle menu area -->
            <div class="main-imgmenu-area">
                <div class="grid">
                    <div class="flex-box main-imgmenu-wrap">
                        <a href="jobIntro.html" title="직무 소개 보러가기" class="main-imgmenu" style="background-image: url('../../content/images/main/imagemenu-bg-01.png');">
                            <strong class="main-imgmenu-tit">직무소개</strong>
                            <p class="main-imgmenu-txt">KT의 다양한 직무를<br>소개합니다.</p>
                        </a>
                        <a href="culture.html" title="사내문화 보러가기" class="main-imgmenu" style="background-image: url('../../content/images/main/imagemenu-bg-02.png');">
                            <strong class="main-imgmenu-tit">사내문화</strong>
                            <p class="main-imgmenu-txt">KT만의<br>일하는 방식을 알아봅니다.</p>
                        </a>
                        <a href="/interview.html" title="선배 인터뷰 보러가기" class="main-imgmenu" style="background-image: url('../../content/images/main/imagemenu-bg-03.png');">
                            <strong class="main-imgmenu-tit">선배 인터뷰</strong>
                            <p class="main-imgmenu-txt">KT 입사 선배들을 통해<br>KT인들의 이야기를 들어봅니다.</p>
                        </a>
                    </div> <!-- //main image menu -->
                </div> <!-- //grid -->
            </div> <!-- //main image menu area -->
        </main>
        <!-- //main END -->
        <!-- information bar START -->
        <div class="infobar-area">
            <div class="grid">
                <div class="flex-box flex-spc-btw flex-align-cnt infobar-wrap">
                    <span class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></span>
                    <div class="infobar-box">
                        <strong class="infobar">채용문의</strong>
                        <span class="infobar el">전화 02-3149-7988</span>
                        <span class="infobar el">팩스 02-2194-0369</span>
                        <a href="qna.html" title="1:1 온라인 문의 하러가기" class="btn infobar-btn">1:1 온라인 문의</a>
                    </div>
                </div> <!-- //main bar wrap -->
            </div> <!-- //grid -->
        </div>
        <!-- //information bar END -->
        <!-- footer START -->
        <footer>
            <div class="grid">
                <div class="flex-box flex-spc-btw ft-wrap">
                    <div class="el rt">
                        <div class="flex-box">
                            <!-- footer sns menu -->
                            <a href="javascript:void(0);" target="_blank" title="페이스북 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-facebook-w.png" alt="페이스북 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="네이버 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-naver-w.png" alt="네이버 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="인스타그램 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-insta-w.png" alt="인스타그램 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="유튜브 채널로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-youtube-w.png" alt="유튜브 로고"></a>
                            <!-- //footer sns menu -->
                            <div class="familysite">
                                <span class="btn famsite-btn">패밀리사이트<img src="../../content/images/common/footer-familysite-ico.png" alt="패밀리사이트 보기 아이콘" class="ico"></span>
                                <ul class="famsite-list">
                                    <li><a href="https://corp.kt.com/" target="_blank" title="" class="famsite-menu">KT</a></li>
                                    <li><a href="https://www.kt.com/" target="_blank" title="" class="famsite-menu">KT 개인</a></li>
                                    <li><a href="https://shop.kt.com/main.do" target="_blank" title="" class="famsite-menu">KT SHOP</a></li>
                                </ul>
                            </div> <!-- //familly site -->
                        </div>
                    </div>
                    <div class="el lt">
                        <div class="ft-termmenu-box">
                            <a href="terms.html" title="이용약관 보러가기" class="btn ft-termmenu">이용약관</a>
                            <a href="privacy.html" title="개인정보처리방침 보러가기" class="btn ft-termmenu">개인정보처리방침</a>
                        </div>
                        <p class="copyright">&copy; KT corp. ALL RIGHTS RESERVED.</p>
                    </div>
                </div> <!-- //footer wrap -->
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- mobile navigatioin START -->
        <div class="monav-area">
            <div class="monav-wrap">
                <div class="flex-box flex-spc-btw flex-align-cnt monav-my-box">
                    <p>이미 지원한 공고가 있습니까?<br>나의 지원 결과를 확인하세요.</p>
                    <a href="myCareer.html" title="마이채용 페이지로 이동" class="btn monav-mycareer">마이채용</a>
                </div> <!-- //mobile nav mycareer -->
                <ul class="monav-list">
                    <li class="flex-box">
                        <strong class="monav-tit">소개</strong>
                        <div class="monav-menu-box">
                            <a href="jobIntro.html" title="직무소개 페이지로 이동" class="monav-menu">직무소개</a>
                            <a href="qualifiedImage.html" title="인재상 페이지로 이동" class="monav-menu">인재상</a>
                            <a href="interview.html" title="선배 인터뷰 페이지로 이동" class="monav-menu">선배 인터뷰</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">인사제도</strong>
                        <div class="monav-menu-box">
                            <a href="culture.html" title="사내문화 페이지로 이동" class="monav-menu">사내문화</a>
                            <a href="support.html" title="성장지원 페이지로 이동" class="monav-menu">성장지원</a>
                            <a href="welfare.html" title="복지제도 페이지로 이동" class="monav-menu">복지제도</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">채용정보</strong>
                        <div class="monav-menu-box">
                            <a href="process.html" title="채용프로세스 페이지로 이동" class="monav-menu">채용프로세스</a>
                            <a href="jobAdList.html" title="채용공고 페이지로 이동" class="monav-menu">채용공고</a>
                            <a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="monav-menu">인재풀 등록</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">공지/문의</strong>
                        <div class="monav-menu-box">
                            <a href="noticeList.html" title="공지사항 페이지로 이동" class="monav-menu">공지사항</a>
                            <a href="faq.html" title="FAQ 페이지로 이동" class="monav-menu">FAQ</a>
                            <a href="qna.html" title="1:1문의 페이지로 이동" class="monav-menu">1:1문의</a>
                            <a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="monav-menu">채용서류 반환 청구</a>
                        </div>
                    </li>
                </ul> <!-- //mobile nav list -->
            </div> <!-- //mobile nav wrap -->
        </div>
        <!-- //mobile navigatioin END -->
        <script src="../../content/scripts/swiper.min.js"></script>
        <script>
            //main visual swiper
            var mainSwiper = new Swiper('.main-swiper', {
                speed: 1000,
                loop: true,
                autoplay: {
                    delay: 3500,
                    disableOnInteraction: false
                },
                pagination: {
                    el: '.main-swiper-pagination',
                    clickable: true
                },
                on: {
                    init: function(){
                        var offer = document.querySelector('.main-number-pagination');
                        offer.innerHTML = (this.realIndex + 1) + ' / ' + (this.slides.length - 2);
                    },
                    slideChange: function(){
                        var offer = document.querySelector('.main-number-pagination');
                        offer.innerHTML = (this.realIndex + 1) + ' / ' + (this.slides.length - 2);
                    }
                }
            });
        </script>
    </body>
</html>