<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if this page needs to reset cache]>
        <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
        <![endif]-->
        <title></title>
        <meta name="title" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="univJOYSEUL">
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:description" content="">

        <link rel="icon" href="" type="image/png">
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="../../content/styles/skinA.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-1.12.4.min.js"></script>
        <script src="../../content/scripts/common.js"></script>
        <!--[if lt IE 9]>
        <script src="../../../content/scripts/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="top-hd">
                <div class="grid">
                    <div class="flex-box flex-spc-btn flex-spc-btw flex-align-cnt hd-wrap">
                        <div class="el lt">
                            <h1><a href="mainA.html" title="메인 페이지로 이동" class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></a></h1>
                            <span class="btn monav-btn">
                                <i></i><i></i><i></i>
                            </span>
                        </div>
                        <div class="el rt txt-rt">
                            <nav>
                                <ul class="flex-box flex-align-cnt">
                                    <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="navmenu">소개</a></li>
                                    <li><a href="culture.html" title="사내문화 페이지로 이동" class="navmenu">인사제도</a></li>
                                    <li><a href="process.html" title="채용 프로세스 페이지로 이동" class="navmenu">채용정보</a></li>
                                    <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="navmenu">공지/문의</a></li>
                                    <li><a href="myCareer.html" title="마이채용 페이지로 이동" class="btn hd-mycareer">마이채용</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //top header -->
            <div class="btm-hd">
                <div class="grid">
                    <div class="flex-box sub-nav-wrap">
                        <ul class="sub-navmenu-box">
                            <li><a href="jobIntro.html" title="직무소개 페이지로 이동" class="sub-navmenu">직무소개</a></li>
                            <li><a href="qualifiedImage.html" title="인재상 페이지로 이동" class="sub-navmenu">인재상</a></li>
                            <li><a href="interview.html" title="선배 인터뷰 페이지로 이동" class="sub-navmenu">선배 인터뷰</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="culture.html" title="사내문화 페이지로 이동" class="sub-navmenu">사내문화</a></li>
                            <li><a href="support.html" title="성장지원 페이지로 이동" class="sub-navmenu">성장지원</a></li>
                            <li><a href="welfare.html" title="복지제도 페이지로 이동" class="sub-navmenu">복지제도</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="process.html" title="채용프로세스 페이지로 이동" class="sub-navmenu">채용프로세스</a></li>
                            <li><a href="jobAdList.html" title="채용공고 페이지로 이동" class="sub-navmenu">채용공고</a></li>
                            <li><a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="sub-navmenu">인재풀 등록</a></li>
                        </ul>
                        <ul class="sub-navmenu-box">
                            <li><a href="noticeList.html" title="공지사항 페이지로 이동" class="sub-navmenu">공지사항</a></li>
                            <li><a href="faq.html" title="FAQ 페이지로 이동" class="sub-navmenu">FAQ</a></li>
                            <li><a href="qna.html" title="1:1 문의 페이지로 이동" class="sub-navmenu">1:1 문의</a></li>
                            <li><a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="sub-navmenu">채용서류 반환 청구</a></li>
                        </ul>
                    </div> <!-- //sub nav wrap -->
                </div>
            </div> <!-- //bottom header -->
        </header>
        <!-- //header END -->
        <!-- container START -->
        <div id="container">
            <div class="headline-area fullvsl" style="background-image: url('../../content/images/sub/headline-visual-process.png');">
                <div class="grid">
                    <div class="headline-wrap">
                        <h2 class="headline-tit">채용프로세스</h2>
                        <p class="headline-txt">입사지원부터 최종합격까지 KT의 채용 프로세스를 안내합니다.</p>
                    </div>
                </div> <!-- //grid -->
            </div> <!-- //headline area -->
            <div class="page-root-area">
                <div class="grid">
                    <div class="flex-box flex-align-cnt page-root-wrap">
                        <span class="page-root"><img src="../../content/images/common/root-home-ico.png" alt="홈 아이콘" class="ico"></span>
                        <span class="page-root">채용정보</span>
                        <span class="fc-black page-root">채용프로세스</span>
                    </div>
                </div>
            </div> <!-- //page root area -->
            <!-- section START -->
            <section class="cont-area">
                <div class="grid">
                    <div class="mo-comntab-wrap">
                        <select class="form-select">
                            <option>인턴 채용</option>
                            <option>신입 채용</option>
                            <option>경력</option>
                            <option>기타</option>
                        </select>
                    </div> <!-- //mobile common tab wrap -->
                    <ul class="flex-box comntab-wrap col4">
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab on"><span class="label">인턴 채용</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">신입 채용</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">경력</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" title="" class="comntab"><span class="label">기타</span></a>
                        </li>
                    </ul> <!-- //common tab wrap -->
                    <div class="cont-hdtit-wrap">
                        <h4 class="cont-hdtit">인턴 채용 프로세스</h4>
                        <p class="cont-hdtxt">KT의 회사생활이 궁금하거나 그 동안 학습해온 분야의 일을 미리 경험해보고 싶은<br>대학생 여러분을 위해 진로탐색 기회인 인턴 프로그램을 마련하고 있습니다.</p>
                    </div> <!-- //content head title wrap -->
                    <div class="proc-list-wrap">
                        <ul class="proc-list">
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 01</span>
                                        <strong class="tit">지원서접수</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">recruit.kt.com을 통해 온라인 지원서 접수</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 02</span>
                                        <strong class="tit">서류전형</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">지원자격 보유여부 확인 및 자기 소개서를 통한 잠재역량 평가</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 03</span>
                                        <strong class="tit">종합 인/적성 검사</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">지원자의 인성과 적성이 KT 그룹 의 조직과 인재상에 부합 하는지 종합적으로 평가</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 04</span>
                                        <strong class="tit">실무면접</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">PT면접, 토론면접, 상황면접 등의 방식을 활용하여 해당 직무에 맞는 <span class="txt-break">인재를 찾기 위한 평가</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 05</span>
                                        <strong class="tit">임원면접</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">지원자의 자질, 인성 및 태도 등 종합적으로 평가</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 06</span>
                                        <strong class="tit">건강검진</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">지정된 기관을 통해 건강검진을 진행</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-align-cnt proc-box">
                                    <div class="el lt">
                                        <span class="efw500 label">step 07</span>
                                        <strong class="tit">최종합격</strong>
                                    </div>
                                    <div class="el rt">
                                        <p class="txt">-</p>
                                    </div>
                                </div>
                            </li>
                        </ul> <!-- //process list -->
                        <div class="tip-box">
                            <p class="txt-indent tip"><span class="mark">※</span>공고에 따라 절차가 다를 수 있습니다.<br>공고별 정확한 프로세스는 공고 내용을 확인하세요.</p>
                            <p class="txt-indent tip"><span class="mark">※</span>공고에 따라 절차가 다를 수 있습니다.</p>
                        </div> <!-- //tip box -->
                    </div> <!-- //process list wrap -->
                </div> <!-- //grid -->
            </section>
            <!-- //section END -->
        </div>
        <!-- //container END -->
        <!-- information bar START -->
        <div class="infobar-area">
            <div class="grid">
                <div class="flex-box flex-spc-btw flex-align-cnt infobar-wrap">
                    <span class="ci"><img src="../../content/images/common/main-a-ci.png" alt="기업로고"></span>
                    <div class="infobar-box">
                        <strong class="infobar">채용문의</strong>
                        <span class="infobar el">전화 02-3149-7988</span>
                        <span class="infobar el">팩스 02-2194-0369</span>
                        <a href="qna.html" title="1:1 온라인 문의 하러가기" class="btn infobar-btn">1:1 온라인 문의</a>
                    </div>
                </div> <!-- //main bar wrap -->
            </div> <!-- //grid -->
        </div>
        <!-- //information bar END -->
        <!-- footer START -->
        <footer>
            <div class="grid">
                <div class="flex-box flex-spc-btw ft-wrap">
                    <div class="el rt">
                        <div class="flex-box">
                            <!-- footer sns menu -->
                            <a href="javascript:void(0);" target="_blank" title="페이스북 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-facebook-w.png" alt="페이스북 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="네이버 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-naver-w.png" alt="네이버 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="인스타그램 페이지로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-insta-w.png" alt="인스타그램 로고"></a>
                            <a href="javascript:void(0);" target="_blank" title="유튜브 채널로 이동" class="ft-snsmenu"><img src="../../content/images/common/footer-youtube-w.png" alt="유튜브 로고"></a>
                            <!-- //footer sns menu -->
                            <div class="familysite">
                                <span class="btn famsite-btn">패밀리사이트<img src="../../content/images/common/footer-familysite-ico.png" alt="패밀리사이트 보기 아이콘" class="ico"></span>
                                <ul class="famsite-list">
                                    <li><a href="https://corp.kt.com/" target="_blank" title="" class="famsite-menu">KT</a></li>
                                    <li><a href="https://www.kt.com/" target="_blank" title="" class="famsite-menu">KT 개인</a></li>
                                    <li><a href="https://shop.kt.com/main.do" target="_blank" title="" class="famsite-menu">KT SHOP</a></li>
                                </ul>
                            </div> <!-- //familly site -->
                        </div>
                    </div>
                    <div class="el lt">
                        <div class="ft-termmenu-box">
                            <a href="terms.html" title="이용약관 보러가기" class="btn ft-termmenu">이용약관</a>
                            <a href="privacy.html" title="개인정보처리방침 보러가기" class="btn ft-termmenu">개인정보처리방침</a>
                        </div>
                        <p class="copyright">&copy; KT corp. ALL RIGHTS RESERVED.</p>
                    </div>
                </div> <!-- //footer wrap -->
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <!-- mobile navigatioin START -->
        <div class="monav-area">
            <div class="monav-wrap">
                <div class="flex-box flex-spc-btw flex-align-cnt monav-my-box">
                    <p>이미 지원한 공고가 있습니까?<br>나의 지원 결과를 확인하세요.</p>
                    <a href="myCareer.html" title="마이채용 페이지로 이동" class="btn monav-mycareer">마이채용</a>
                </div> <!-- //mobile nav mycareer -->
                <ul class="monav-list">
                    <li class="flex-box">
                        <strong class="monav-tit">소개</strong>
                        <div class="monav-menu-box">
                            <a href="jobIntro.html" title="직무소개 페이지로 이동" class="monav-menu">직무소개</a>
                            <a href="qualifiedImage.html" title="인재상 페이지로 이동" class="monav-menu">인재상</a>
                            <a href="interview.html" title="선배 인터뷰 페이지로 이동" class="monav-menu">선배 인터뷰</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">인사제도</strong>
                        <div class="monav-menu-box">
                            <a href="culture.html" title="사내문화 페이지로 이동" class="monav-menu">사내문화</a>
                            <a href="support.html" title="성장지원 페이지로 이동" class="monav-menu">성장지원</a>
                            <a href="welfare.html" title="복지제도 페이지로 이동" class="monav-menu">복지제도</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">채용정보</strong>
                        <div class="monav-menu-box">
                            <a href="process.html" title="채용프로세스 페이지로 이동" class="monav-menu">채용프로세스</a>
                            <a href="jobAdList.html" title="채용공고 페이지로 이동" class="monav-menu">채용공고</a>
                            <a href="talentPool.html" title="인재풀 등록 페이지로 이동" class="monav-menu">인재풀 등록</a>
                        </div>
                    </li>
                    <li class="flex-box">
                        <strong class="monav-tit">공지/문의</strong>
                        <div class="monav-menu-box">
                            <a href="noticeList.html" title="공지사항 페이지로 이동" class="monav-menu">공지사항</a>
                            <a href="faq.html" title="FAQ 페이지로 이동" class="monav-menu">FAQ</a>
                            <a href="qna.html" title="1:1문의 페이지로 이동" class="monav-menu">1:1문의</a>
                            <a href="claim.html" title="채용서류 반환 청구 페이지로 이동" class="monav-menu">채용서류 반환 청구</a>
                        </div>
                    </li>
                </ul> <!-- //mobile nav list -->
            </div> <!-- //mobile nav wrap -->
        </div>
        <!-- //mobile navigatioin END -->
    </body>
</html>